$bg: (
    'light-blue': #1eaaf1,
    'dark-blue': #5d50c6,
    'pink': #fda683,
    'green': #8cc152,
    'black': #000000,
    'black-2': rgba(252, 192, 192, 0.2),
    'black-3': #232323,
    'white': #ffffff,
    'white-2': rgba(255, 255, 255, 0.1),
    'red': #f1453d,
    'purple': #5c50c6,
) !default;

$c: (
    'white': #ffffff,
    'white-2': rgba(255, 255, 255, 0.7),
    'white-3': rgba(255, 255, 255, 0.5),
    'light-blue': #1eaaf1,
    'black': #000000
) !default;
    
$bs: (
    header: 0 0 10px 0 rgba(0, 0, 0, 0.1)
) !default;

$b: (
    my-carousel: 2px dashed #fda683
) !default;

$f-primary: 'Work Sans', Arial, sans-serif !default;
$f-secondary: 'Fredericka the Great', cursive !default;