.my-carousel {
    @include media-breakpoint-down(md) {
        margin-top: 2.625rem;
    }

    &__slide {
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
        text-align: center;
        color: c('white');

        @include bg-img((
            1: '../src/images/carousel/slide_1.jpg',
            2: '../src/images/carousel/slide_2.jpg'
        ));

        &::after {
            @include position(absolute, 0, 0, 0, 0, -1);
            background: bg('black-2');
            content: '';
        }
    }

    &__caption {
        flex-basis: 70%;
    }

    &__text {
        @include media-breakpoint-up(sm) {
            font-size: 2.5rem;
        }
        
        @include media-breakpoint-up(lg) {
            font-size: 3rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 4rem;
        }
    }

    &__btn-link {
        @include button(
            $bg: bg('pink'), 
            $c: c('white'),
            $h-c: inherit,
            $b: b(my-carousel)
        );
    }
}