.course {
    padding: 1rem 2rem;
    
    &__img {
        @include media-breakpoint-down(md) {
            height: 300px;
        }

        @include bg-img((
            1: '../src/images/courses/img_1.jpg',
            2: '../src/images/courses/img_2.jpg',
            3: '../src/images/courses/img_3.jpg',
            4: '../src/images/courses/img_4.jpg',
            5: '../src/images/courses/img_5.jpg',
            6: '../src/images/courses/img_6.jpg'
        ));
    }

    &__body {
        background: bg('gray');
    }
}