.page-header {
    &--change {
        @include position($p: fixed, $t: 0, $r: 0, $l: 0, $z: $zindex-fixed);
        background: bg('black');

        .nav-link {
            font-size: 0.9375em;
            padding: 0.875rem 0;
            color: c('white-3');
            transition: padding .3s ease-in;

            &.active, &:hover {
                color: c('white');   
            }
        }

        .navbar-toggler {
            border: 0;
            color: c('white-3');
        }

        .navbar-brand {
            font-size: 1.5em;
            font-weight: 900;
            line-height: 1;
            color: c('white');
        }

        .show + .page-header__close {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        @include media-breakpoint-up(lg) {
            position: static;
            height: auto;
            background: bg('white');

            .nav-link {
                padding: 2.25rem;
                padding-right: 1.25rem !important;
                padding-left: 1.25rem !important;
                color: c('black');

                &.active, &:hover {
                    color: c('light-blue');
                }
            }

            .navbar-brand {
                color: c('black');
            }
        }
    }

    &--scrolled {
        @include position($p: fixed, $t: 0, $r: 0, $l: 0, $z: $zindex-fixed);
        @include media-breakpoint-up(lg) {
            box-shadow: bs('header');

            .nav-link {
                padding-top: 0.875rem;
                padding-bottom: 0.875rem;
            }
        }
    }
}