.service {
    position: relative;
    z-index: 5;
    text-align: center;
    color: c('white-2');
    
    @each $name, $color in ('teacher': 'light-blue', 'reading': 'green', 'book': 'purple', 'certificate': 'red') {
        &--#{$name} {
            background: bg($color);

            .service__icon {
                @include bg-img('../src/images/icons/#{$name}.svg');
            }
        }
    }

    &__icon {
        display: block;
        width: 50px;
        height: 50px;
        color: bg('white');
    }

    &__circle {
        @include position($p: absolute, $t: -60px, $l: calc(50% - 60px));
        @include center();
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background: bg('white');
    }

    &__title {
        color: c('white');
    }
}